# Python-related files
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyc

# Flask instance folder
instance/

# Environment variables
.env
service-account-file.json


# .gitignore
service-account.json


# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.venv/

# Logs
*.log
*.out
*.err

# IDE-specific files
.idea/
.vscode/
.ipynb_checkpoints/

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore uploads directory
uploads/

# Ignore the API documentation file
api-documentation.md
static/assets/img/clients