<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MJXPS9NH');</script>
  <!-- End Google Tag Manager -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0WDWHCNYGP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-0WDWHCNYGP');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Structured Data -->
  <script type="application/ld+json">
  {
    "@context": "https://www.hempire-enterprise.com",
    "@type": "Finances loan heavy equipments loans farms construction worker",
    "name": "Hempire Enterprise",
    "url": "https://www.hempire-enterprise.com",
    "logo": "https://www.hempire-enterprise.com/static/assets/img/Logo.png",
    "sameAs": [
      "https://www.facebook.com/hempireenterprise",
      "https://www.instagram.com/hempireenterprise",
      "https://www.linkedin.com/company/hempire-enterprise"
    ],
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1-425-296-8273",
      "contactType": "Customer Service",
      "areaServed": "US",
      "availableLanguage": "English"
    }
  }
  </script>
  <!-- End Structured Data -->
  <!-- seo tags -->
  <meta name="title" content="Get Funded - Equipment Financing for Your Business">
  <meta name="description"
    content="Partner with an industry leader for exclusive equipment financing programs. Quick and convenient solutions tailored to your business needs.">
  <meta name="keywords"
    content="equipment financing, business loans, machinery financing, equipment loans, equipment finance solutions, business equipment loans, machinery loans, commercial equipment financing, business equipment financing, finance equipment for business, small business equipment financing, equipment leasing, equipment funding, equipment loan options, quick equipment financing, affordable equipment loans, business equipment finance programs">
  <link rel="canonical" href="https://www.hempire-enterprise.com">
  <meta property="og:title" content="Get Funded - Equipment Financing for Your Business">
  <meta property="og:description"
    content="Partner with an industry leader for exclusive equipment financing programs. Quick and convenient solutions tailored to your business needs.">
  <meta property="og:image" content="https://www.hempire-enterprise.com/static/assets/img/Logo.png">
  <meta property="og:url" content="https://www.hempire-enterprise.com">
  <meta name="copyright" content="Hempire enterprise">
  <!-- seo tags ends -->
  <link rel="apple-touch-icon" sizes="57x57" href="../static/assets/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../static/assets/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../static/assets/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../static/assets/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../static/assets/img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../static/assets/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../static/assets/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../static/assets/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../static/assets/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicon-16x16.png">
  <link rel="manifest" href="../static/assets/img/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/assets/vendor/animate/animate.css">
  <link rel="stylesheet" href="../static/assets/css/bootstrap.css">
  <link rel="stylesheet" href="../static/assets/css/maicons.css">
  <link rel="stylesheet" href="../static/assets/vendor/owl-carousel/css/owl.carousel.css">
  <link rel="stylesheet" href="../static/assets/css/theme.css">
  <title>Get Funded - Equipment Financing for Your Business</title>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJXPS9NH" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-float">
      <div class="container">
        <a href="index.html" class="navbar-brand"><img src="../static/assets/img/Logo.png"
            alt="Get Funded - Finance you business equipments" class="d-inline-block align-text-top"
            style="height: 85px; width: 160px;">
        </a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
            <li class="nav-item">
              <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item active">
              <a href="about.html" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
              <a href="question.html" class="nav-link">Q&A</a>
            </li>
            <li class="nav-item">
              <a href="contact.html" class="nav-link">Contact</a>
            </li>
          </ul>

          <div class="ml-auto">
            <a href="contact.html" class="btn btn-outline ml-2">Request Call</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main>

    <div class="page-sectionabout">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 py-3">
            <h2 class="title-section">Business Funding with Flexible Loan Options</h2>
            <br>
            <p class="mb-5">Hempire Enterprise works with a vast network of lending partners! This means we can
              approve and fund various business loans, providing you with unparalleled flexibility and
              favorable terms! You’ll receive attentive and personalized guidance from your team here
              at Hempire Enterprise! We will focus directly on your specific business needs in order to
              craft the perfect financing plan for you and your business! We aim to offer you the tools
              and flexibility required for success! We’re eager to witness how this new opportunity can
              drive your business growth! CONTACT US TODAY!</p>
          </div>
          <div class="col-lg-6 py-3">
            <div class="img-place text-center">
              <img src="../static/assets/img/Logo.png" alt="Heavy Equipment Financing for Your Business">
            </div>
          </div>
        </div>
      </div> <!-- .container -->
    </div>

    <div class="page-sectionbottom border-top">
      <div class="container">
        <div class="text-center">
          <a href="form.html" class="btn btn-primary rounded-pill">Apply Now</a>
        </div>
        <div class="row my-5 card-blog-row">
          <div class="col-md-6 col-lg-3 py-3 wow fadeInUp">
            <div class="card-blog">
              <div class="header">
                <div class="entry-footer">
                  <div class="post-author">ONE</div>
                </div>
              </div>
              <div class="body">
                <div class="post-title"><a>ALL business entities welcomed including: 1099, sole props AND start ups!</a>
                </div>
                <!-- <div class="post-excerpt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 py-3 wow fadeInUp">
            <div class="card-blog">
              <div class="header">
                <div class="entry-footer">
                  <div class="post-author">TWO</div>
                </div>
              </div>
              <div class="body">
                <div class="post-title"><a>Quick 24-48 hours application updates (including some same day approvals)</a>
                </div>
                <!-- <div class="post-excerpt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 py-3 wow fadeInUp">
            <div class="card-blog">
              <div class="header">
                <div class="entry-footer">
                  <div class="post-author">THREE</div>
                </div>
              </div>
              <div class="body">
                <div class="post-title"><a>Our flexible financing solutions will give you more options (plus you will be
                    more involved in choosing what approval terms make the most sense for your business)</a></div>
                <!-- <div class="post-excerpt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 py-3 wow fadeInUp">
            <div class="card-blog">
              <div class="header">
                <div class="entry-footer">
                  <div class="post-author">FOUR</div>
                </div>
              </div>
              <div class="body">
                <div class="post-title"><a>Affordable 100% Financing, Traditional Equipment Loans, EFAs, Lease Options
                    and many more!</a></div>
                <!-- <div class="post-excerpt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div> -->
              </div>
            </div>
          </div>
        </div>


      </div> <!-- .container -->
    </div>

  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-3 py-3">
          <h3><img src="../static/assets/img/Logo.png" alt="Get your equipment financed with Hempire enterprise"
              class="d-inline-block align-text-top" style="height: 90px; width: 160px;"></h3>
          <p>We are able to finance any business-essential equipment with flexible loan options</p>
          <p><a>Naisha@hempire-enterprise.com<br>Martha@hempire-enterprise.com</a></p>
          <p><a>+1 425-296-8273<br>+1 385-502-3611<br>(Se Habla Español)</a></p>
        </div>
        <div class="col-lg-3 py-3">
          <h5>Quick Links</h5>
          <ul class="footer-menu">
            <li><a href="question.html">Resources</a></li>
            <li><a href="contact.html">Report an issue</a></li>
          </ul>
        </div>
        <div class="col-lg-3 py-3">
          <h5>About Us</h5>
          <ul class="footer-menu">
            <li><a href="about.html">About Us</a></li>
            <li><a href="#">Our Teams</a></li>
          </ul>
        </div>
        <div class="col-lg-3 py-3">
          <div class="sosmed-button mt-4">
            <!-- <a href="#"><span class="mai-logo-facebook-f"></span></a>
            <a href="#"><span class="mai-logo-instagram"></span></a> -->
            <a href="https://www.linkedin.com/company/hempire-enterprise"><span class="mai-logo-linkedin"></span></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 py-2">
          <p id="copyright">&copy; 2024. All rights reserved - Hempire-Enterprise.com</p>
        </div>
        <div class="col-sm-6 py-2 text-right">
          <!-- <div class="d-inline-block px-3">
            <a href="#">Privacy</a>
          </div> -->
          <div class="d-inline-block px-3">
            <a href="contact.html">Contact Us</a>
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </footer> .page-footer -->


  <script src="../static/assets/js/jquery-3.5.1.min.js"></script>

  <script src="../static/assets/js/bootstrap.bundle.min.js"></script>

  <script src="../static/assets/vendor/wow/wow.min.js"></script>

  <script src="../static/assets/vendor/owl-carousel/js/owl.carousel.min.js"></script>

  <script src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>

  <script src="../static/assets/vendor/animateNumber/jquery.animateNumber.min.js"></script>

  <script src="../static/assets/js/theme.js"></script>

</body>

</html>