<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon_io/favicon-32x32.png">
    <link rel="manifest" href="/static/assets/img/favicon_io/site.webmanifest">
    <title>GOAT Dashboard⚡</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/assets/css/dashboard.css">
</head>

<body class="dark-mode"> <!-- Default to dark mode -->
    <div class="navbar">
        <h1>ZapBot🔥</h1>
        <div class="settings-container">
            <!-- Settings Icon for Dark Mode Toggle -->
            <i class="fas fa-cog settings-icon" id="settingsIcon"></i>
            <!-- Dark Mode Toggle Options -->
            <div id="themeToggle" class="theme-toggle" style="display: none;">
                <button id="darkModeBtn" class="btn btn-dark">🌙 Dark Mode</button>
                <button id="lightModeBtn" class="btn btn-light">☀️ Light Mode</button>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <table id="submissionsTable" class="table table-bordered table-hover dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Business Name</th>
                    <th>Borrower Name</th>
                    <th>Submission Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                    <tr id="submission-{{ submission[0] }}">
                        <td>{{ submission[1] }}</td>
                        <td>{{ submission[2].company_name }}</td>
                        <td>{{ submission[2].borrower_first_name }} {{ submission[2].borrower_last_name }}</td>
                        <td>{{ submission[3].strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>
                            <button class="btn btn-view-details" data-id="{{ submission[0] }}" data-details='{{ submission[2] | tojson }}'>View Details</button>
                            <button class="btn btn-delete" data-id="{{ submission[0] }}">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="../static/assets/js/dashboard.js"></script>
</body>
</html>
