<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- seo tags -->
<meta name="title" content="Get Funded - Equipment Financing for Your Business">
<meta name="description" content="Partner with an industry leader for exclusive equipment financing programs. Quick and convenient solutions tailored to your business needs.">
<meta name="keywords" content="equipment financing, business loans, machinery financing, equipment loans">
<link rel="canonical" href="https://hempire-enterprise.com">
<link rel="canonical" href="https://hempire-enterprise.online">
<meta property="og:title" content="Get Funded - Equipment Financing for Your Business">
<meta property="og:description" content="Partner with an industry leader for exclusive equipment financing programs. Quick and convenient solutions tailored to your business needs.">
<meta property="og:image" content="https://hempire-enterprise.com/static/assets/img/Logo.png">
<meta property="og:image" content="https://hempire-enterprise.online/static/assets/img/Logo.png">
<meta property="og:url" content="https://hempire-enterprise.com">
<meta property="og:url" content="https://hempire-enterprise.online">
<meta name="copyright" content="Hempire enterprise">
<!-- seo tags ends -->
  <meta name="copyright" content="">
  <link rel="apple-touch-icon" sizes="57x57" href="../static/assets/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../static/assets/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../static/assets/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../static/assets/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../static/assets/img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../static/assets/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../static/assets/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../static/assets/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../static/assets/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicon-16x16.png">
  <link rel="manifest" href="../static/assets/img/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="../static/assets/vendor/animate/animate.css">

  <link rel="stylesheet" href="../static/assets/css/bootstrap.css">

  <link rel="stylesheet" href="../static/assets/css/maicons.css">

  <link rel="stylesheet" href="../static/assets/vendor/owl-carousel/css/owl.carousel.css">

  <link rel="stylesheet" href="../static/assets/css/theme.css">

  <title>Get Funded - Equipment Financing for Your Business</title>
</head>

<body>

  <!-- Back to top button -->
  <div class="back-to-top"></div>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-float">
      <div class="container">
        <a href="index.html" class="navbar-brand"><img src="../static/assets/img/Logo.png" alt="Logo"
            class="d-inline-block align-text-top" style="height: 85px; width: 160px;">
        </a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
            <li class="nav-item active">
              <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="about.html" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
              <a href="question.html" class="nav-link">Q&A</a>
            </li>
            <li class="nav-item">
              <a href="contact.html" class="nav-link">Contact</a>
            </li>
          </ul>

          <div class="ml-auto">
            <a href="contact.html" class="btn btn-outline ml-2">Request Call</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="page-banner home-banner">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col-lg-6 py-3 wow fadeInUp">
            <h1 class="mb-4">NEED EQUIPMENT FINANCING FOR YOUR BUSINESS?</h1>
            <p class="text-lg mb-5">Partnering with an industry leader grants you access to exclusive programs not
              offered anywhere else.</p>

            <a href="form.html" class="btn btn-primary">Apply Now</a>
          </div>
          <div class="col-lg-6 py-3 wow zoomIn">
            <div class="img-place">
              <img src="../static/assets/img/machinery.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="page-section features">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../static/assets/img/icon_pattern.svg" alt="">
              </div>
              <div>
                <h5>TOTAL SOLUTION FINANCING</h5>
                <p>Affordable 100% financing allows your customers to finance all of their equipment
                  and in many cases can include soft costs such as freight, installation and construction.
                  We offer Traditional Equipment Loans, EFAs, Lease Options and many more.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../static/assets/img/icon_pattern.svg" alt="">
              </div>
              <div>
                <h5>SIMPLE & CONVENIENT</h5>
                <p>Fast application and documentation process. Quick 24-48 hours application updates (including some
                  same day approvals).
                  Our flexible financing solutions will give your customers more options (plus, your clients are more
                  involved in choosing what
                  approval terms make the most sense for them)</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../static/assets/img/icon_pattern.svg" alt="">
              </div>
              <div>
                <h5>CONSERVE YOUR CASH AND TAKE ADVANTAGE OF TAX BENEFITS</h5>
                <p>Hold on to working capital and existing lines of credit so you can have
                  those ready for operational costs, short-term financing, or unforeseen circumstances.
                  Leverage the benefits of Section 179 to receive additional tax savings</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../static/assets/img/icon_pattern.svg" alt="">
              </div>
              <div>
                <h5>ALL BUSINESS ENTITIES WELCOMED</h5>
                <p>start-ups/ sole props. Specialized finance options for customers in the AG/Construction/Forestry
                  Industry (no equipment age restrictions). All credit types welcomed - with both PRIME and SUB-PRIME
                  options.
                  HIL Financial utilizes multiple funding sources to provide credit for any customer profile including
                  zero downpayment options and longer terms for qualified applicants. Equipment Financing offers many
                  benefits
                  to your clients (including tax advantages).</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../static/assets/img/icon_pattern.svg" alt="">
              </div>
              <div>
                <h5>PICK YOUR PAYMENT</h5>
                <p>With over twenty different lenders on our platform, we can serve any credit type (prime/subprime).
                  Benefit from flexible, customized payment options to fit your business needs! Affordable 100%
                  Financing,
                  Traditional Equipment Loans, EFAs, Lease Options plus many more!</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="../static/assets/img/icon_pattern.svg" alt="">
              </div>
              <div>
                <h5>OUR SERVICES ARE 100% FREE</h5>
                <p>No vendor/broker fees for using our services (no contracts, hassles or obligations).
                  Zero application fees. Honest, trustworthy and exceptional customer service.
                  A dedicated financial advisor available 24/7
                  (ensuring tailored financial solutions and support whenever you need it). Se Habla Español.</p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section --> <!-- .page-section -->
    <!-- .page-section -->

    <div class="page-sectiontwo">
      <div class="container">
        <div class="text-center wow fadeInUp">
          <div class="subhead">Equipment Financing</div>
          <h2 class="title-section">Industries Served</h2>
        </div>

        <div class="row mt-5 text-center">
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="spaces">
              <img src="../static/assets/img/trucking.png" alt="" style="width: 100px; height: 95px;">
            </div>
            <h5>Trucking</h5>
          </div>
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="spaces">
              <img src="../static/assets/img/contrustion.png" alt="" style="width: 100px; height: 95px;">
            </div>
            <h5>Heavy Equipment</h5>
          </div>
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="spaces">
              <img src="../static/assets/img/medical.png" alt="" style="width: 100px; height: 95px;">
            </div>
            <h5>Medical Equipment</h5>
          </div>
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="spaces">
              <img src="../static/assets/img/dental.png" alt="" style="width: 100px; height: 95px;">
            </div>
            <h5>Dental Equipment</h5>
          </div>
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="spaces">
              <img src="../static/assets/img/office.png" alt="" style="width: 100px; height: 95px;">
            </div>
            <h5>Office Equipment</h5>
          </div>
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="spaces">
              <img src="../static/assets/img/restaurant.png" alt="" style="width: 100px; height: 95px;">
            </div>
            <h5>Restaurant Equipment</h5>
          </div>
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="spaces">
              <img src="../static/assets/img/farming.png" alt="" style="width: 100px; height: 95px;">
            </div>
            <h5>Farming Equipment</h5>
          </div>
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="spaces">
              <img src="../static/assets/img/oil.png" alt="" style="width: 100px; height: 95px;">
            </div>
            <h5>Oil Field Industry</h5>
          </div>
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="spaces">
              <img src="../static/assets/img/Manufacturing.png" alt="" style="width: 100px; height: 95px;">
            </div>
            <h5>Manufacturing Equipment</h5>
          </div>
          
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->

    <div class="page-section client-section">
      <div class="container-fluid">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center">
          <div class="item wow zoomIn">
            <div class="subhead">Partenered w/</div>
            <img src="../static/assets/img/clients/hil.png" alt="">
          </div>
        </div>
      </div> <!-- .container-fluid -->
    </div>


    <div class="page-sectiontwo">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3 wow fadeInUp">
            <h2 class="title-section">Get in Touch</h2>
            <div class="divider"></div>
            <p>Your One Stop Shop For ALL of Your Equipment Business Financing Needs</p>

            <ul class="contact-list">
              <li>
                <div class="icon"><span class="mai-map"></span></div>
                <div class="content">3724 Lake Washington Blvd NE, Kirkland, WA 98033</div>
              </li>
              <li>
                <div class="icon"><span class="mai-mail"></span></div>
                <div class="content"><a href="#">Naisha@hilfinancial.com | Martha@hilfinancial.com</a></div>
              </li>
              <li>
                <div class="icon"><span class="mai-phone-portrait"></span></div>
                <div class="content"><a href="#">+1 425-296-8273 | +1 385-502-3611</a></div>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 py-3 wow fadeInUp">
            <div class="subhead">Contact Us</div>
            <h2 class="title-section">Drop Us a Line</h2>
            <div class="divider"></div>

            <form action="/send_email" method="POST">
              <div class="py-2">
                <input type="text" class="form-control" name="full_name" placeholder="Full name" required>
              </div>
              <div class="py-2">
                <input type="email" class="form-control" name="email" placeholder="Email" required>
              </div>
              <div class="py-2">
                <textarea rows="6" class="form-control" name="message" placeholder="Enter message" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary rounded-pill mt-4">Send Message</button>
            </form>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
    <!-- .page-section -->
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-3 py-3">
          <h3><img src="../static/assets/img/Logo.png" alt="Logo" class="d-inline-block align-text-top"
              style="height: 90px; width: 160px;"></h3>
          <p>We are able to finance any business-essential equipment with flexible loan options</p>
          <p><a>Naisha@hilfinancial.com <br> Martha@hilfinancial.com</a></p>
          <p><a>+1 425-296-8273 <br> +1 385-502-3611<br>(Se Habla Español)</a></p>
        </div>
        <div class="col-lg-3 py-3">
          <h5>Quick Links</h5>
          <ul class="footer-menu">
            <li><a href="question.html">Resources</a></li>
            <li><a href="contact.html">Report an issue</a></li>
          </ul>
        </div>
        <div class="col-lg-3 py-3">
          <h5>About Us</h5>
          <ul class="footer-menu">
            <li><a href="about.html">About Us</a></li>
            <li><a href="#">Our Teams</a></li>
          </ul>
        </div>
        <div class="col-lg-3 py-3">
          <div class="sosmed-button mt-4">
            <a href="#"><span class="mai-logo-facebook-f"></span></a>
            <a href="#"><span class="mai-logo-twitter"></span></a>
            <a href="#"><span class="mai-logo-linkedin"></span></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 py-2">
          <p id="copyright">&copy; 2024. All rights reserved</p>
        </div>
        <div class="col-sm-6 py-2 text-right">
          <!-- <div class="d-inline-block px-3">
            <a href="#">Privacy</a>
          </div> -->
          <div class="d-inline-block px-3">
            <a href="contact.html">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script src="../static/assets/js/jquery-3.5.1.min.js"></script>

  <script src="../static/assets/js/bootstrap.bundle.min.js"></script>

  <script src="../static/assets/vendor/wow/wow.min.js"></script>

  <script src="../static/assets/vendor/owl-carousel/js/owl.carousel.min.js"></script>

  <script src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>

  <script src="../static/assets/vendor/animateNumber/jquery.animateNumber.min.js"></script>

  <script src="../static/assets/js/theme.js"></script>


</body>

</html>